apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: audiobookshelf
  template:
    metadata:
      labels:
        app: audiobookshelf
    spec:
      securityContext:
        fsGroup: 1000 # node group ID
        runAsUser: 1000 # node user ID
        runAsGroup: 1000 # node group ID

      containers:
        - name: audiobookshelf
          image: ghcr.io/advplyr/audiobookshelf:2.24.0
          ports:
            - containerPort: 80

          envFrom:
            - configMapRef:
                name: audiobookshelf-config
            #- secretRef:
            #    name: linkding-container-env

          securityContext:
            allowPrivilegeEscalation: false

          volumeMounts:
            - mountPath: /config
              subPath: config
              name: abd
            - mountPath: /metadata
              subPath: metadata
              name: abd
            - mountPath: /audiobooks
              subPath: audiobooks
              name: abd
            - mountPath: /books
              subPath: books
              name: abd
            - mountPath: /podcasts
              subPath: podcasts
              name: abd
      volumes:
        - name: abd
          persistentVolumeClaim:
            claimName: audiobookshelf-data-pvc
