apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        fsGroup: 33         # www-data group
        runAsUser: 33       # www-data user
        runAsGroup: 33
      containers:
        - name: linkding
          image: sissbruecker/linkding:1.39.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9090
          envFrom:
            - secretRef:
                name: linkding-container-env
          securityContext:
            allowPrivilegeEscalation: false
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              memory: "512Mi"
          volumeMounts:
            - name: linkding-data
              mountPath: /etc/linkding/data
      volumes:
        - name: linkding-data
          persistentVolumeClaim:
            claimName: linkding-data-longhorn-v2

